<% content_for :body_content_title do %>
  <%= t('.search_results_for', :what => params[:query]) %>
<% end %>

<% content_for :body do %>
  <% if @results.empty? %>
    <%= t('.no_results_for', :what => params[:query]) %>
  <% else %>
    <ul id="search_results">
      <% @results.each do |result| %>
        <li>
          <span class='result_type'>
            <%= result_type result %>
          </span>
          <%= link_to result_title(result).html_safe, result_url(result) %>
        </li>
      <% end %>
    <% end %>
  </ul>
<% end %>

<%= render "/refinery/content_page" %>
